body{
    line-height: 1.2;
    background-color: black;
    color: black;
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
}

header{
    background-image: url("../images/title.png"), url("../images/throne_2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain, cover;
    height: 310px;
    width: 100%;
    margin-bottom: 30px;
    
}

h1{
    font-size: 36pt;
    font-weight: bold;
    text-align: center;
    color: white;
}

h2{
    font-size: 18pt;
    font-family: 'Cinzel', serif;
    text-align: center;
    letter-spacing: 1;
    color: white;
    margin-top: 2px;
}

.row{
    padding: 20px;
    height: 350px;
    width: 75%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(228, 243, 249);
    border: 3px solid rgb(163, 201, 215);
}

.leftside{
    padding: 10px;
    float: left;
    align-content: center;
    height: auto;
}

#wordpicTitle{
    font-size: 14pt;
    text-align: center;
}

.gameTitles{
    font-weight: bold;
    text-align: center;
    font-size: 24pt;
    padding-bottom: 10px;
}

#underScores{
    font-family: 'Cinzel', serif;
    font-size: 24pt;
    letter-spacing: .5em;
    text-align: center;
    padding-bottom: 30px;
}

#lettersRem{
    font-family: 'Cinzel', serif;
    font-size: 24pt;
    text-align: center;
    padding-bottom: 30px;
}

#lettersGuessed{
    font-family: 'Cinzel', serif;
    font-size: 24pt;
    text-align: center;
    padding-bottom: 30px;
}

#wins{
    padding-top: 20px;
    font-size: 22pt;
    font-weight: bold;
}