* {
    box-sizing: border-box;
}

body{
    line-height: 1.2;
    background-color: black;
    color: black;
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
}

header{
    background-image: url("../images/title.png"), url("../images/throne_2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain, cover;
    height: 240px;
    width: 100%;
    margin-bottom: 10px;
    
}

h1{
    font-size: 36pt;
    font-weight: bold;
    text-align: center;
    color: white;
}

h2{
    font-size: 18pt;
    font-family: 'Cinzel', serif;
    text-align: center;
    letter-spacing: 1;
    color: white;
    margin-top: 2px;
}

.container{
    padding: 40px 110px 40px 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 15px;
    background-image: url("../images/scroll950x350.png");
    background-repeat: no-repeat;
    background-size: 95% 100%;
    background-position: center;
}

#row {
    padding-top: 20px;
    max-width: 900px;
    width: 100%;
}

.leftside{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    float: left;
    text-align: center;
}

.rightside{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 10px 10px 10px;
    float: right;
    text-align: center;
}

#wordpicTitle{
    font-size: 20pt;
    text-align: center;
    text-transform: capitalize;
    color: rgb(97, 15, 15);
}

.gameTitles{
    font-weight: bold;
    text-align: center;
    font-size: 24pt;
    padding-bottom: 10px;
}

#underScores{
    font-family: 'Cinzel', serif;
    font-size: 24pt;
    text-align: center;
    padding-bottom: 30px;
    color: rgb(97, 15, 15);
}

#lettersRem{
    font-family: 'Cinzel', serif;
    font-size: 24pt;
    text-align: center;
    padding-bottom: 30px;
    color: rgb(97, 15, 15);
}

#lettersGuessed{
    font-family: 'Cinzel', serif;
    height: 26pt;
    font-size: 24pt;
    text-align: center;
    padding-bottom: 30px;
    color: rgb(97, 15, 15);
}

#wins{
    padding-top: 20px;
    font-size: 22pt;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media only screen and (max-width: 675px) {
    .container {
        padding: 10px;
    }

    .leftside {
        display: block;
        width: 100%;
    }

    .rightside {
        position: relative;
        width: 100%;
        float: none;
        padding-bottom: 50px;
    }

    #wins {
        padding-bottom: 25px;
    }

    #row {
        padding-top: 40px;
    }
}